@Model string

@{
    ViewBag.Title = "GetLegacyURL";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>GetLegacyURL</title>
</head>
<body>
    <div>
        the URL Requested was: @Model
    </div>
</body>
</html>
